
/* Sidebar (Burger) -Hannah */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background-color: #363740;
    font-family: "Mulish", sans-serif;
    color: #A4A6B3;
    transform: translateX(-100%); 
    transition: transform 0.3s ease; 
    z-index: 1000;
    padding: 0;
}

.sidebar-header {
    padding-top: 60px;
}

#side_bar .nav-link {
    color: #A4A6B3 !important;
    border-left: 3px solid transparent;
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease, opacity 0.3s ease; 
}

#side_bar .nav-link:hover {
    background-color: #9fa2b41e;
    border-color: #ffffff;
    color: #DDE2FF !important ;
}

#menuToggle {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: #363740;
}

#closeSidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
    font-family: "Mulish", sans-serif;
    font-size: 12px;
    border-radius: 16px;
}

.sidebar.active {
    transform: translateX(0); /* always visible */
}


.titlelogo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: 15px;
}

.title-text {
    font-size: 16px;
    font-weight: 500;
}

.text-light {
    gap: 10px;
    margin: 5px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #A4A6B3 !important;
}

.me-2 {
    color: #9FA2B4;
    opacity: 0.4;
}

.divider {
    border-top: 1px solid #DFE0EB;
}


/* Main */

main {
    font-family: "Mulish", sans-serif;
}
.custom-bg {
    background-color: #F7F8FC;
}

.main-content {
    padding: 30px;
}

.selectable-card:hover {
    cursor: pointer;
    border-color: #3751FF;
}

.selectable-card:hover * {
    color: #3751FF !important; 
}

.card-no-border-radius-end {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-no-border-radius-start {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.card-no-border-start {
    border-left: 2px solid #dee2e6;
}

.card-no-border {
    border: 0px;
}

.graph-indicator {
    width: 50px;
    height: 5px;
    border-radius: 3px;
}

.strong-blue-graph {
    background-color: #3751FF;
}

.gray-graph {
    background-color: lightgray;
}


/* Bottom left of the page */

.list-group-item {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E0E0E0; 
}

.list-group-item:last-child {
    border-bottom: none;
}

.card-body.p-0 {
    padding: 0;
}

/* Bottom right of the page */
.task-placeholder {
    color: #d3d3d3;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.add-task-icon {
    display: flex;
    background-color: #F0F1F7;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    padding: 2px 6px;
    font-weight: bold;
    color: #9FA2B4;
    align-items: center;
    justify-content: center;
}

.task-item {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.task-item:last-child {
    border-bottom: none;
}

.task-circle {
    width: 16px;
    height: 16px;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    display: inline-block;
}

.task-circle.checked {
    background-color: #4c6ef5;
    border-color: #4c6ef5;
}

.badge {
    font-size: 0.75rem;
    padding: 5px 10px;
    border-radius: 6px;
}

.badge.bg-warning {
    background-color: #ffc107;
    color: #856404;
}

.badge.bg-success {
    background-color: #28a745;
    color: #fff;
}

.badge.bg-secondary {
    background-color: #ebeff5;
    color: #6c757d;
}


@media (min-width: 768px) {
    .sidebar {
        position: sticky;
        transform: translateX(0); 
        padding-top: 45px;
        overflow-y: auto;
    }

    #side_bar .nav-link {
        height: 55px;
    }

    .sidebar-header {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding-top: 0px;
    
    }

    .title-text {
        font-size: 19px;
        font-weight: 700;
        color: #A4A6B3;
    }

    .titlelogo {
        width: 30px;
        height: 30px;
        margin-right: 7px;
        margin-left: -5px;
    }

    .text-light {
        font-size: 16px;
        font-weight: 600;
    }

    #menuToggle {
        display: none; 
    }

    .card-no-border-radius-end {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .card-no-border-radius-start {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .card-no-border-start {
        border-left: 0px;
    }
}

